# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
load_dotenv()
%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ugokh\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Bad key savefig.frameon in file c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 421 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 472 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 473 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution
In c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\Users\ugokh\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
# Read your api key environment variable
apiKey = os.getenv("NEWS_API_KEY")

In [3]:
# Create a newsapi client
from newsapi import NewsApiClient
newsApi = NewsApiClient(api_key=apiKey)

In [4]:
# Fetch the Bitcoin news articles
bitcoinArticles = newsApi.get_everything(q="bitcoin", language="en", sort_by="relevancy")

In [5]:
# Fetch the Ethereum news articles
ethereumArticles = newsApi.get_everything(q="ethereum", language="en", sort_by="relevancy")

In [6]:
# Create the Bitcoin sentiment scores DataFrame
btcSentimentScore = []

for article in bitcoinArticles["articles"]:
    try:
        text = article["content"]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        btcSentimentScore.append({
            "text": text,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
        })
    except ArithmeticError:
        pass
    
#btcSentimentScore

In [7]:
#creating the btc dataframe so that results looks clean and understandable (do the same for eth)
btcDf = pd.DataFrame(btcSentimentScore)
colReorder = ["compound", "negative", "neutral", "positive", "text"]
btcDf = btcDf[colReorder]

In [8]:
btcDf

,compound,negative,neutral,positive,text
0,0.0772,0.000,0.964,0.036,"Now, even though there are a number of women-f..."
1,-0.0516,0.061,0.882,0.056,A Bitcoin mining site powered by otherwise los...
2,-0.3269,0.143,0.772,0.085,Warren Buffett has always been a bitcoin skept...
3,-0.1027,0.040,0.960,0.000,You can now reportedly pay for your burritos a...
4,0.3400,0.000,0.928,0.072,"Image source, Getty Images\r\nThe value of Bit..."
5,0.3818,0.052,0.833,0.114,"As a kid, I remember when my father tried to u..."
6,0.3182,0.040,0.883,0.077,Customers at Chipotle will now be able to pay ...
7,0.7506,0.000,0.807,0.193,If youve ever felt like introducing some Vegas...
8,-0.4404,0.241,0.557,0.202,Cryptocurrency mixers are sometimes used to he...
9,-0.4767,0.103,0.897,0.000,Photo Illustration by Grayson Blackmon / The V...
10,-0.3612,0.123,0.877,0.000,Posted \r\nFrom Bitcoin's dramatic drop to a n...
11,-0.3818,0.077,0.923,0.000,"May 11 (Reuters) - Bitcoin fell 7.23% to $28,7..."
12,-0.2732,0.063,0.937,0.000,"May 4 (Reuters) - Bitcoin rose 5.7% to $39,862..."
13,-0.3818,0.077,0.923,0.000,May 9 (Reuters) - Bitcoin dropped 7.81% to $31...
14,0.1027,0.066,0.859,0.076,"BTC fell to its lowest level since last July, ..."
15,-0.5499,0.106,0.894,0.000,At a Mexican restaurant in North London a few ...
16,0.1326,0.000,0.956,0.044,May 24 (Reuters) - The crypto winter is into i...
17,0.2263,0.060,0.855,0.085,May 10 (Reuters) - Bitcoin has scant experienc...
18,-0.4019,0.083,0.879,0.039,Terra is launching a new blockchain with a new...
19,-0.8593,0.300,0.646,0.054,After two linked cryptocurrencies collapsed an...

In [9]:
# Create the Ethereum sentiment scores DataFrame
ethSentimentScore = []

for article in ethereumArticles["articles"]:
    try:
        text = article["content"]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        ethSentimentScore.append({
            "text": text,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
        })
    except ArithmeticError:
        pass
    
ethSentimentScore

[{'text': "Meta has revealed more of how NFTs will work on Instagram. In the US-based test, you can show what you've bought or created for free by connecting your Instagram account to a compatible digital walle… [+1223 chars]",
  'compound': 0.6486,
  'positive': 0.135,
  'negative': 0.0,
  'neutral': 0.865},
 {'text': 'GameStop has officially thrown itself headlong into the web3 vipers nest with a new app release, though its hard to say whether its proposed population of gamers and game developers will take up the … [+3255 chars]',
  'compound': -0.1027,
  'positive': 0.0,
  'negative': 0.04,
  'neutral': 0.96},
 {'text': 'A multi-billion dollar cryptocurrency company has apologised to users after its sale of metaverse land sparked a frenzy that temporarily brought down the Ethereum cryptocurrency.\r\nYuga Labs, the comp… [+3475 chars]',
  'compound': -0.2263,
  'positive': 0.046,
  'negative': 0.075,
  'neutral': 0.879},
 {'text': 'When Bored Ape Yacht Club creators Yuga Labs announced its Otherside NFT collection would launch on April 30, it was predicted by many to be the biggest NFT launch ever. Otherside is an upcoming Bore… [+6669 chars]',
  'compound': -0.2732,
  'positive': 0.0,
  'negative': 0.055,
  'neutral': 0.945},
 {'text': 'GameStop is going all-in on crypto. The video game retailer launched\xa0its own self-custodial Ethereum digital wallet, it said Monday. The wallet will be accessible through a Google Chrome extension an… [+1491 chars]',
  'compound': 0.128,
  'positive': 0.046,
  'negative': 0.0,
  'neutral': 0.954},
 {'text': "DAVOS, Switzerland, May 25 (Reuters) - Ethereum's co-founder Gavin Wood said cryptocurrency investors need to be more aware of what is backing their holdings after a market rout which wiped more than… [+1744 chars]",
  'compound': 0.0258,
  'positive': 0.034,
  'negative': 0.0,
  'neutral': 0.966},
 {'text': 'Editorial IndependenceWe want to help you make more informed decisions. Some links on this page clearly marked may take you to a partner website and may result in us earning a referral commission. Fo… [+6022 chars]',
  'compound': 0.6908,
  'positive': 0.178,
  'negative': 0.0,
  'neutral': 0.822},
 {'text': '40 days ago Bitcoin sold for $47,454. It\'s price now is $34,007 — a drop of 28%.About a third of that drop happened this week, as "Bitcoin, ethereum and other major cryptocurrencies have fallen sharp… [+975 chars]',
  'compound': -0.6908,
  'positive': 0.0,
  'negative': 0.178,
  'neutral': 0.822},
 {'text': 'When Nvidia launched its Ampere Lite Hash Rate (LHR) graphics card with the feared Ethereum anti-mining limiter, the world knew it was only a matter of time before someone or a team cracked it. NiceH… [+1230 chars]',
  'compound': -0.3818,
  'positive': 0.069,
  'negative': 0.085,
  'neutral': 0.847},
 {'text': "May 4 (Reuters) - Bitcoin rose 5.7% to $39,862.84, on Wednesday, adding $2,102.94 to its previous close.\r\nBitcoin, the world's biggest and best-known cryptocurrency, is up 20.9% from the year's low o… [+337 chars]",
  'compound': -0.2732,
  'positive': 0.0,
  'negative': 0.063,
  'neutral': 0.937},
 {'text': "May 11 (Reuters) - Bitcoin fell 7.23% to $28,758.29 at 22:05 GMT on Wednesday, losing $2,241.68 from its previous close.\r\nBitcoin, the world's biggest and best-known cryptocurrency, is down 40.4% fro… [+361 chars]",
  'compound': -0.3818,
  'positive': 0.0,
  'negative': 0.077,
  'neutral': 0.923},
 {'text': "May 9 (Reuters) - Bitcoin dropped 7.81% to $31,333.41 at 20:03 GMT on Monday, losing $2,655.98 from its previous close.\r\nBitcoin, the world's biggest and best-known cryptocurrency, is down 35% from t… [+351 chars]",
  'compound': -0.3818,
  'positive': 0.0,
  'negative': 0.077,
  'neutral': 0.923},
 {'text': '9 with 8 posters participating\r\nNvidia began releasing LHR (or Lite Hash Rate) graphics cards last year\xa0to slow down their cryptocurrency mining performance and make them less appealing to non-gamers… [+2182 chars]',
  'compound': 0.0,
  'positive': 0.0,
  'negative': 0.0,
  'neutral': 1.0},
 {'text': 'If you ever wanted to buy an NFT based on Ethereum, you would have to pay a transaction fee to register it on the blockchain. Last week, that fee skyrocketed to unprecedented levels.\r\nSo you might ha… [+7216 chars]',
  'compound': -0.1027,
  'positive': 0.0,
  'negative': 0.036,
  'neutral': 0.964},
 {'text': 'BTC fell to its lowest level since last July, as prices dropped below $33,000 to start the week. The selloff in cryptocurrency started last week, following the Fed’s decision to hike interest rates b… [+2651 chars]',
  'compound': 0.1027,
  'positive': 0.076,
  'negative': 0.066,
  'neutral': 0.859},
 {'text': 'The cryptocurrency boom over the past few years has helped propel a newer market to record heights: digital collectibles known as NFTs.\xa0\r\nThe craze has pushed total NFT sales volume to $29 billion ov… [+2866 chars]',
  'compound': -0.1531,
  'positive': 0.0,
  'negative': 0.045,
  'neutral': 0.955},
 {'text': 'ApeCoin, the native cryptocurrency of the APE Ecosystem, slid 16% Monday in a viciously volatile trading session.\r\nTokens were trading at $14.60 per token at presstime. The crypto is often linked wit… [+1515 chars]',
  'compound': -0.3182,
  'positive': 0.0,
  'negative': 0.067,
  'neutral': 0.933},
 {'text': "Image source, Getty Images\r\nThe value of Bitcoin continued to fall over the weekend as it dropped below $34,000 (£27,630), according to the Coinbase cryptocurrency exchange.\r\nThe world's largest cryp… [+2164 chars]",
  'compound': 0.34,
  'positive': 0.072,
  'negative': 0.0,
  'neutral': 0.928},
 {'text': 'Solana, the third largest cryptocurrency by market capitalization, fell 10% Wednesday following reports of its blockchain network suffering another outage.\xa0\r\nThe blockchain had not produced new block… [+566 chars]',
  'compound': -0.4767,
  'positive': 0.0,
  'negative': 0.1,
  'neutral': 0.9},
 {'text': 'The cryptocurrency boom over the past few years has helped propel a newer market to record heights: digital collectibles known as NFTs.\xa0\r\nThe craze has pushed total NFT sales volume to $29 billion ov… [+2830 chars]',
  'compound': -0.1531,
  'positive': 0.0,
  'negative': 0.045,
  'neutral': 0.955}]

In [10]:
#create eth df and reorganize the columns
ethDf = pd.DataFrame(ethSentimentScore)

ethDf = ethDf[colReorder]

ethDf

,compound,negative,neutral,positive,text
0,0.6486,0.000,0.865,0.135,Meta has revealed more of how NFTs will work o...
1,-0.1027,0.040,0.960,0.000,GameStop has officially thrown itself headlong...
2,-0.2263,0.075,0.879,0.046,A multi-billion dollar cryptocurrency company ...
3,-0.2732,0.055,0.945,0.000,When Bored Ape Yacht Club creators Yuga Labs a...
4,0.1280,0.000,0.954,0.046,GameStop is going all-in on crypto. The video ...
5,0.0258,0.000,0.966,0.034,"DAVOS, Switzerland, May 25 (Reuters) - Ethereu..."
6,0.6908,0.000,0.822,0.178,Editorial IndependenceWe want to help you make...
7,-0.6908,0.178,0.822,0.000,"40 days ago Bitcoin sold for $47,454. It's pri..."
8,-0.3818,0.085,0.847,0.069,When Nvidia launched its Ampere Lite Hash Rate...
9,-0.2732,0.063,0.937,0.000,"May 4 (Reuters) - Bitcoin rose 5.7% to $39,862..."
10,-0.3818,0.077,0.923,0.000,"May 11 (Reuters) - Bitcoin fell 7.23% to $28,7..."
11,-0.3818,0.077,0.923,0.000,May 9 (Reuters) - Bitcoin dropped 7.81% to $31...
12,0.0000,0.000,1.000,0.000,9 with 8 posters participating\r\nNvidia began...
13,-0.1027,0.036,0.964,0.000,If you ever wanted to buy an NFT based on Ethe...
14,0.1027,0.066,0.859,0.076,"BTC fell to its lowest level since last July, ..."
15,-0.1531,0.045,0.955,0.000,The cryptocurrency boom over the past few year...
16,-0.3182,0.067,0.933,0.000,"ApeCoin, the native cryptocurrency of the APE ..."
17,0.3400,0.000,0.928,0.072,"Image source, Getty Images\r\nThe value of Bit..."
18,-0.4767,0.100,0.900,0.000,"Solana, the third largest cryptocurrency by ma..."
19,-0.1531,0.045,0.955,0.000,The cryptocurrency boom over the past few year...

In [11]:
# Describe the Bitcoin Sentiment
btcDf.describe()

        compound   negative   neutral   positive
count  20.000000  20.000000  20.00000  20.000000
mean   -0.113900   0.081750   0.86160   0.056650
std     0.396835   0.076825   0.10300   0.060266
min    -0.859300   0.000000   0.55700   0.000000
25%    -0.386825   0.040000   0.84950   0.000000
50%    -0.187950   0.064500   0.88250   0.049000
75%     0.156025   0.103750   0.92425   0.079000
max     0.750600   0.300000   0.96400   0.202000

In [12]:
# Describe the Ethereum Sentiment
ethDf.describe()

        compound   negative    neutral   positive
count  20.000000  20.000000  20.000000  20.000000
mean   -0.098975   0.050450   0.916850   0.032800
std     0.352184   0.044882   0.051293   0.051042
min    -0.690800   0.000000   0.822000   0.000000
25%    -0.334100   0.000000   0.875500   0.000000
50%    -0.153100   0.050000   0.930500   0.000000
75%     0.045025   0.075500   0.955000   0.051750
max     0.690800   0.178000   1.000000   0.178000

### Questions:

Q: Which coin had the highest mean positive score?

A: Btc with 0.058

Q: Which coin had the highest compound score?

A: Btc with 0.750

Q. Which coin had the highest positive score?

A: Btc with 0.202

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [13]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [19]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
sw = set(stopwords.words('english'))
#stopW
# Expand the default stopwords list if necessary
stopWordsExtra = {}
sw = sw.union(stopWordsExtra)
sw

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [24]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', text) 
   
    # Create a tokenized list of the words
    tknzdWrds = word_tokenize(re_clean)
    
    # Lemmatize words into root words
    lem  = [lemmatizer.lemmatize(word) for word in tknzdWrds]
   
    # Convert the words to lowercase
    # Remove the stop words
    tokens = [word.lower() for word in lem if word.lower() not in sw]
   
    return tokens

In [25]:
# Create a new tokens column for Bitcoin
btcDf['tokens'] = btcDf.text.apply(tokenizer)
btcDf

,compound,negative,neutral,positive,text,tokens
0,0.0772,0.000,0.964,0.036,"Now, even though there are a number of women-f...","[even, though, number, womenfocused, crypto, s..."
1,-0.0516,0.061,0.882,0.056,A Bitcoin mining site powered by otherwise los...,"[bitcoin, mining, site, powered, otherwise, lo..."
2,-0.3269,0.143,0.772,0.085,Warren Buffett has always been a bitcoin skept...,"[warren, buffett, ha, always, bitcoin, skeptic..."
3,-0.1027,0.040,0.960,0.000,You can now reportedly pay for your burritos a...,"[reportedly, pay, burrito, taco, bitcoin, digi..."
4,0.3400,0.000,0.928,0.072,"Image source, Getty Images\r\nThe value of Bit...","[image, source, getty, imagesthe, value, bitco..."
5,0.3818,0.052,0.833,0.114,"As a kid, I remember when my father tried to u...","[kid, remember, father, tried, use, broom, han..."
6,0.3182,0.040,0.883,0.077,Customers at Chipotle will now be able to pay ...,"[customers, chipotle, able, pay, burrito, cryp..."
7,0.7506,0.000,0.807,0.193,If youve ever felt like introducing some Vegas...,"[youve, ever, felt, like, introducing, vegasst..."
8,-0.4404,0.241,0.557,0.202,Cryptocurrency mixers are sometimes used to he...,"[cryptocurrency, mixer, sometimes, used, help,..."
9,-0.4767,0.103,0.897,0.000,Photo Illustration by Grayson Blackmon / The V...,"[photo, illustration, grayson, blackmon, verge..."
10,-0.3612,0.123,0.877,0.000,Posted \r\nFrom Bitcoin's dramatic drop to a n...,"[posted, bitcoins, dramatic, drop, new, way, p..."
11,-0.3818,0.077,0.923,0.000,"May 11 (Reuters) - Bitcoin fell 7.23% to $28,7...","[may, reuters, bitcoin, fell, gmt, wednesday, ..."
12,-0.2732,0.063,0.937,0.000,"May 4 (Reuters) - Bitcoin rose 5.7% to $39,862...","[may, reuters, bitcoin, rose, wednesday, addin..."
13,-0.3818,0.077,0.923,0.000,May 9 (Reuters) - Bitcoin dropped 7.81% to $31...,"[may, reuters, bitcoin, dropped, gmt, monday, ..."
14,0.1027,0.066,0.859,0.076,"BTC fell to its lowest level since last July, ...","[btc, fell, lowest, level, since, last, july, ..."
15,-0.5499,0.106,0.894,0.000,At a Mexican restaurant in North London a few ...,"[mexican, restaurant, north, london, week, ago..."
16,0.1326,0.000,0.956,0.044,May 24 (Reuters) - The crypto winter is into i...,"[may, reuters, crypto, winter, ninth, week, bi..."
17,0.2263,0.060,0.855,0.085,May 10 (Reuters) - Bitcoin has scant experienc...,"[may, reuters, bitcoin, ha, scant, experience,..."
18,-0.4019,0.083,0.879,0.039,Terra is launching a new blockchain with a new...,"[terra, launching, new, blockchain, new, luna,..."
19,-0.8593,0.300,0.646,0.054,After two linked cryptocurrencies collapsed an...,"[two, linked, cryptocurrencies, collapsed, bec..."

In [26]:
# Create a new tokens column for Ethereum
ethDf['tokens'] = ethDf.text.apply(tokenizer)
ethDf

,compound,negative,neutral,positive,text,tokens
0,0.6486,0.000,0.865,0.135,Meta has revealed more of how NFTs will work o...,"[meta, ha, revealed, nfts, work, instagram, us..."
1,-0.1027,0.040,0.960,0.000,GameStop has officially thrown itself headlong...,"[gamestop, ha, officially, thrown, headlong, w..."
2,-0.2263,0.075,0.879,0.046,A multi-billion dollar cryptocurrency company ...,"[multibillion, dollar, cryptocurrency, company..."
3,-0.2732,0.055,0.945,0.000,When Bored Ape Yacht Club creators Yuga Labs a...,"[bored, ape, yacht, club, creator, yuga, labs,..."
4,0.1280,0.000,0.954,0.046,GameStop is going all-in on crypto. The video ...,"[gamestop, going, allin, crypto, video, game, ..."
5,0.0258,0.000,0.966,0.034,"DAVOS, Switzerland, May 25 (Reuters) - Ethereu...","[davos, switzerland, may, reuters, ethereums, ..."
6,0.6908,0.000,0.822,0.178,Editorial IndependenceWe want to help you make...,"[editorial, independencewe, want, help, make, ..."
7,-0.6908,0.178,0.822,0.000,"40 days ago Bitcoin sold for $47,454. It's pri...","[day, ago, bitcoin, sold, price, drop, third, ..."
8,-0.3818,0.085,0.847,0.069,When Nvidia launched its Ampere Lite Hash Rate...,"[nvidia, launched, ampere, lite, hash, rate, l..."
9,-0.2732,0.063,0.937,0.000,"May 4 (Reuters) - Bitcoin rose 5.7% to $39,862...","[may, reuters, bitcoin, rose, wednesday, addin..."
10,-0.3818,0.077,0.923,0.000,"May 11 (Reuters) - Bitcoin fell 7.23% to $28,7...","[may, reuters, bitcoin, fell, gmt, wednesday, ..."
11,-0.3818,0.077,0.923,0.000,May 9 (Reuters) - Bitcoin dropped 7.81% to $31...,"[may, reuters, bitcoin, dropped, gmt, monday, ..."
12,0.0000,0.000,1.000,0.000,9 with 8 posters participating\r\nNvidia began...,"[poster, participatingnvidia, began, releasing..."
13,-0.1027,0.036,0.964,0.000,If you ever wanted to buy an NFT based on Ethe...,"[ever, wanted, buy, nft, based, ethereum, woul..."
14,0.1027,0.066,0.859,0.076,"BTC fell to its lowest level since last July, ...","[btc, fell, lowest, level, since, last, july, ..."
15,-0.1531,0.045,0.955,0.000,The cryptocurrency boom over the past few year...,"[cryptocurrency, boom, past, year, ha, helped,..."
16,-0.3182,0.067,0.933,0.000,"ApeCoin, the native cryptocurrency of the APE ...","[apecoin, native, cryptocurrency, ape, ecosyst..."
17,0.3400,0.000,0.928,0.072,"Image source, Getty Images\r\nThe value of Bit...","[image, source, getty, imagesthe, value, bitco..."
18,-0.4767,0.100,0.900,0.000,"Solana, the third largest cryptocurrency by ma...","[solana, third, largest, cryptocurrency, marke..."
19,-0.1531,0.045,0.955,0.000,The cryptocurrency boom over the past few year...,"[cryptocurrency, boom, past, year, ha, helped,..."

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [ ]:
from collections import Counter
from nltk import ngrams

In [ ]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [ ]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [ ]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [ ]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [ ]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [ ]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [ ]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [ ]:
import spacy
from spacy import displacy

In [ ]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [ ]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [ ]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [ ]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---